# Local Netlify folder
.netlify

# Environment variables (contains passwords!)
.env
.env.local
.env.production

# Dependencies
node_modules
dist
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
